<nav class="navbar navbar-light bg-success justify-content-between">
  <h3 class="text-white">{{ viewTitle }}</h3>
</nav>

<form action="/employee" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{employee._id}}">
    <hr>
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="fullName" placeholder="Enter Name" value="{{employee.fullName}}">
        <div class="text-danger"><small>{{ employee.fullNameError }}</small></div>
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="Enter Email" value="{{employee.email}}">
        <div class="text-danger"><small>{{ employee.emailError }}</small></div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Mobile</label>
            <input type="text" class="form-control" name="mobile" placeholder="Enter valid Mobile" value="{{employee.mobile}}">
        </div>
        <div class="for-group col-md-6">
            <label>City</label>
            <input type="text" class="form-control" name="city" placeholder="Enter City" value="{{employee.city}}">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-info"><i class="fa fa-database"></i> Submit</button>
        <a href="/employee/list" class="btn btn-secondary"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>